---
title: About
contentId: about
---

<article class="section">
  <h2 class="section__title">The company</h2>
  <div class="base-content max-w-xl">
    <p>Sagri is an Asia-focused AgTech Startup, helping farmers live a happier life. We help farmers with easy-to-access credit and educate them in increasing their earning potential. We leverage satellite imagery and our proprietory soil sampling technology.</p>
  </div>
</article>

<article class="section mt-16">
  <h2 class="section__title">The team</h2>
  {% include "components/team-list.njk" %}
</article>

