---
title: About
contentId: about
---

<article class="section">
  <h2 class="section__title">Company</h2>
  <div class="markdown max-w-xl">
    <p>We focus on leveraging Technology to help Farmers lead better, happier lives. We help farmers increase their incomes by educating them, helping them with the right inputs, augment them with better and optimized agricultural practices.</p>
    <p>We are instrumental in cross-pollinating technical innovations across regions. Right now, we are introducing many innovative Japanese technologies, best practices, and methodologies to India.</p>
    <p>Currently, we are working closely with the central and local Indian government bodies to help farmers with easy-to-access credit. We leverage satellite imagery, and our proprietory soil sampling technology to calculate a farmland's NDVI (Normalized Difference Vegetation Index) and help the farmers and interested parties to find the optimal time to harvest their crops.</p>
  </div>
</article>

<article class="section mt-16">
  <h2 class="section__title">Team</h2>
  {% include "components/team-list.njk" %}
</article>

