---
title: Career
contentId: career
---

<article class="section">
  <div class="markdown max-w-xl">
    <p>
    	Sagri strives to fulfill farmer lives. We help farmers with easy-to-access credit and educate them in increasing their earning potential. Come join us for a rewarding and fulfilling journey of helping others by leveraging technology.
    </p>
    
    <p>
    	We are a remote-first Startup. We do have our offices in Tokyo and Bangalore.
    </p>

    <p>Vist the <a href="https://github.com/sagri/jobs">jobs page</a> for more information.</p>
  </div>
</article>

