---
title: Career
contentId: career
---

<article class="section">
  <div class="markdown max-w-xl">
    <p>We help farmers with easy-to-access credit and educate them to increase their earning potential. Come join us for a rewarding and fulfilling journey of helping others by leveraging technology.</p>

    <p>We are a remote-first Startup. We do have our offices in Tokyo and Bangalore.</p>

    <a
      class="button"
      target="_blank"
      href="https://github.com/sagri/jobs">View job openings ↗</a>
  </div>
</article>

