---
title: Contact
contentId: contact
---

{% import "macros/lists.njk" as lists %}

<div class="section">
  <div class="max-w-lg mx-auto">
    <div class="markdown">
      <p>
        Email us at <a href="mailto:{{site.email}}">{{site.email}}</a>.
        <br>
        Find us on
        {{lists.socialNetworksListCommaSeparated(networks = site.socialNetworks | objectToArray, conjunction = "and")}}.
      </p>
      <p>Or, fill out the form for any queries.</p>
    </div>
    <div class="mt-8">{% include "components/contact-form.njk" %}</div>
  </div>
</div>

{#
<div class="section mt-16">
  <h2 class="section__title">Offices</h2>
</div>
#}
