---
title: Demo
contentId: demo
---

<article class="section">
  <div class="markdown max-w-xxl">
    <p>
    	Here are some of the prototype tools that we are building to help farmers, and private lenders. Be warned: they are alpha and not ready for production use.
    	
    	<ol>
		    <li><a href="https://lender-roi-calculator.valinor.earth/?interest=0.05&amount=1000000&term=36&moratorium=6&currency=JPY">ROI Calculator</a> for Lenders' financial returns/earnings (play with the parameters in the URL).</li>
		    <li><a href="https://crop-recommendation.valinor.earth/">Crop Recommendation</a> -- Crop yield, and earning increment suggestion tool.</li>
		    <!-- <li><a href="http://price-forecast.sagri.io">Crop Price Forecast</a> -- A crop-price forecast tool.</li> -->
		  </ol>
    </p>
  </div>
</article>