---
description: We use satellite imagery data and soil testing technology to provide applications that optimize productivity for farmers.
contentId: home
permalink: index.html
layout: layouts/home.njk
---

<div class="max-w-md mx-auto my-12 md:my-24">
  <div class="text-gray-700 flex flex-col justify-center">
    <h1 class="sr-only">{{site.title[locale]}}</h1>
    <p class="font-bold text-lg text-gray-900 md:text-2xl">
      Striving to fulfill the lives of farmers
    </p>
    <p class="mt-2 text-sm md:text-base">
      A data platform helping the Agriculture value chain, with primary focus on the marginal under-served farmers.
      We crunch through publicly available data, government-collected data, and our own to help bring meaningful solutions to the myriad challenges faced by farmers.
    </p>
  </div>
</div>

<div
  class="[ aspect-ratio aspect-ratio-16/9 ][ overflow-hidden max-w-4xl mx-auto mt-2 md:my-24 rounded ]"
>
  <img
      src="/img/photo-green-fields.jpg"
      alt="Aerial view of a field"

  />
  <div
    class="flex justify-center items-center p-4 md:p-6 bg-black bg-opacity-25"
  >
    <p
      class="max-w-md text-center text-white font-bold text-sm md:text-base lg:text-xl text-shadow-dark"
    >
      We work with satellite imagery, hyperspectral imaging, and on-ground
      testing techniques to build tools that augment farming.
    </p>
  </div>
</div>


<div class="section section--keylined max-w-2xl mx-auto mt-8 md:mt-12">
  {% include "components/products.njk" %}
</div>

<div class="section section--keylined max-w-2xl mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Actaba</h2>
  {% include "components/actaba.njk" %}
</div>

<div class="section section--keylined max-w-2xl mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Partners</h2>
  {% include "components/partners.njk" %}
</div>

<div class="section section--keylined max-w-2xl mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Customers</h2>
  {% include "components/customers.njk" %}
</div>
