---
description: We use satellite imagery data and soil testing technology to provide applications that optimize productivity for farmers.
contentId: home
permalink: index.html
layout: layouts/home.njk
---

<div class="max-w-md mx-auto my-12 md:my-24">
  <div class="text-gray-700 flex flex-col justify-center">
    <h1 class="sr-only">{{site.title[locale]}}</h1>
    <p class="font-bold text-lg text-gray-900 md:text-2xl">
      We build precision farming tools and solutions, to help farmers increase yields while saving on costs.
    </p>
    <p class="mt-4 text-sm md:text-base">
      Computational Agriculture powered by Artificial Intelligence and Satellite Imagery.
    </p>
    <div class="mt-4 text-sm flex gap-x-2">
      <a class="button" href="#">Start 90 days free trial</a>
      <a class="button button--outlined" href="#">Schedule a demo</a>
    </div>
  </div>
</div>

{#
  <div class="section max-w-md mx-auto mt-8 md:mt-12">
  {% include "components/newsletter-signup-form.njk" %}
  </div>
#}

<div class="section max-w-md mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Mobile and Web Apps</h2>
  {% include "components/apps.njk" %}
</div>

<div
  class="[ aspect-ratio aspect-ratio-16/9 ][ overflow-hidden max-w-4xl mx-auto mt-12 md:my-24 rounded ]"
>
  <img src="/img/photo-green-fields.jpg" alt="Aerial view of a field" />
  <div
    class="flex justify-center items-center p-4 md:p-6 bg-black bg-opacity-25"
  >
    <p
      class="max-w-md text-center text-white font-bold text-sm md:text-base lg:text-xl text-shadow-dark"
    >
      We build satellite imagery tools and solutions for smart and precision farming.
    </p>
  </div>
</div>

<div class="section max-w-2xl mx-auto mt-8 md:mt-12">
  {% include "components/products.njk" %}
</div>

{% include "components/stats.njk" %}

<div class="section max-w-2xl mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Partners</h2>
  {% include "components/partners.njk" %}
</div>

<div class="section max-w-2xl mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Accolades</h2>
  {% include "components/accolades.njk" %}
</div>

<div class="section max-w-md mx-auto mt-8 md:mt-12">
  <h2 class="section__title text-center">Latest from our blog</h2>
  {% include "components/recent-posts.njk" %}
</div>
