---
title: Sagri
contentId: home
permalink: index.html
layout: layouts/home.njk
---

<div class="max-w-2xl mx-auto my-16 md:my-24">
  <div class="media-object media-object--roomy">
    <div class="media-object__media">
      <img width="240" height="262" class="w-48" src="{{"img/illustration-field-frame.svg" | url}}" alt="Illustration of trees">
    </div>
    <div class="media-object__text">
      <div class="text-gray-700 flex flex-col justify-center">
        <h1 class="sr-only">{{site.title[locale]}}</h1>
        <p class="font-bold text-lg text-gray-900 md:text-2xl">Striving to fulfill lives of farmers</p>
        <p class="mt-2 text-sm md:text-base">Sagri is an Asia-focused AgTech Startup, helping farmers live a happier life. We help farmers with easy-to-access credit and educate them in increasing their earning potential. We leverage satellite imagery and our proprietory soil sampling technology.</p>
      </div>
    </div>
  </div>
</div>

<div class="section section--keylined max-w-2xl mx-auto mt-8">
  <h2 class="section__title text-center">Our Initiatives for Farmers</h2>
  {% include "components/products.njk" %}
</div>

<div class="section mt-16">
  <h2 class="section__title">Awards</h2>
  {% include "components/awards.njk" %}
</div>

<div class="mt-16">
  <div class="md:flex flex-wrap md:-mx-4">
    <div class="md:w-2/3 md:px-4">
      <div class="section">
        <h2 class="section__title">Partners</h2>
          {% include "components/partners.njk" %}
        </div>
      </div>
    <div class="md:w-1/3 md:px-4 mt-16 md:mt-0">
      <div class="section">
        <h2 class="section__title">Customers</h2>
        {% include "components/customers.njk" %}
      </div>
    </div>
  </div>
</div>

{#
<div class="section mt-16">
  <h2 class="section__title">Testimonials</h2>
</div>
#}
