---
title: Jobs
contentId: jobs
---

<article class="section max-w-xl mx-auto">
  <div class="markdown">
    <p>
      We are looking for generalists who have a passion and believe in helping the earth fight the vagaries of climate change.
    </p>
    <p>
      We are open to experts in other areas interested in joining us with their initiatives and ideas, besides the positions listed below;

      <ul>
        <li>Administration</li>
        <li>Designers</li>
        <li>Engineers
          <ul>
            <li>Backend</li>
            <li>Data Science</li>
            <li>Frontend</li>
            <li>Machine Learning</li>
          </ul>
        </li>
        <li>Human Resource</li>
        <li>Marketing</li>
      </ul>
    </p>
  </div>
</article>
