---
title: Tools
contentId: tools
---

<div class="section">
  <div class="max-w-xl">
    <ul class="">
      <li>
        <h3 class="font-bold mb-2">Lenders</h3>
        <ul class="list-disc list-inside">
           <li><a href="https://lender-roi-calculator.valinor.earth/?interest=0.05&amount=1000000&term=36&moratorium=6&currency=JPY">ROI Calculator</a> (play with the parameters in the URL).</li>
        </ul>
      </li>
      <li class="mt-4">
        <h3 class="font-bold mb-2">Farmers</h3>
        <ul class="list-disc list-inside">
          <li><a href="https://crop-recommendation.valinor.earth/">Crop Recommendation</a> -- yield, and earning increment suggestions.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
