---
title: Tools
contentId: tools
---

<div class="section">
  <div class="max-w-xl">
    <div class="markdown">
      <ul>
        <li><a href="https://lender-roi-calculator.valinor.earth">Lender RoI Calculator</a></li>
      </ul>
  </div>
</div>
