---
title: Tools
contentId: tools
---

<div class="section">
  <div class="max-w-xl">
    <ul class="">
      <li class="mt-4">
        <h3 class="font-bold mb-2">Farmers, and Government’s Policy Makers</h3>
        <ul class="list-disc list-inside">
          <li><a href="https://satellite.valinor.earth/">Satellite Farm Watch</a> (farmland mapping, monitoring, and analysis)</li>
          <li><a href="https://crop-recommendation.valinor.earth/">Crop Recommendation</a> (yield and earning increment suggestions)</li>
        </ul>
      </li>
      <li>
        <h3 class="font-bold mb-2">Microfinance Lenders</h3>
        <ul class="list-disc list-inside">
           <li><a href="https://lender-roi-calculator.valinor.earth/?interest=0.05&amount=1000000&term=36&moratorium=6&currency=JPY">ROI Calculator</a> (currently, used mostly by Japanese lenders)</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
