{% extends "layouts/base.njk" %}

{% block content %}
  <ul>
    {% for post in collections.posts | reverse %}
      {% if post.data.locale === locale %}
      <li><span>{% dateShort post.date, locale%}</span> <a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
