{% extends "layouts/base.njk" %}

{% block content %}
<article class="md:grid grid-cols-12 col-gap-4">
  <header class="col-start-5 col-end-13 pb-2">
    <h1 class="text-3xl font-bold">{{title}}</h1>
  </header>
  <aside class="col-start-1 col-end-4 text-gray-700">
    <time datetime="{{page.date | date('YYYY-MM-DD') }}">{{ page.date | date('ll', locale) }}</time>
  </aside>
  <div class="col-start-5 col-end-13 markdown">{{ content | safe }}</div>
</article>
{% endblock %}
