{% extends "layouts/base.njk" %} {% block content %}
<article class="max-w-xl mx-auto">
  <header>
    <h1 class="page__title">{{title}}</h1>
    <div class="page__meta">
      <time datetime="{{page.date | date('YYYY-MM-DD') }}"
        >{{ page.date | date('dddd, D MMMM, yyyy', locale) }}</time
      >
    </div>
  </header>

  <div class="markdown">{{ content | safe }}</div>
</article>
{% endblock %}
