<div class="bg-white pb-8 sm:pb-12 lg:pb-12">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
      <div>
        <div>
          <img class="h-20 w-auto" src="/assets/img/valinor-earth-logo-text.png" alt="Valinor Earth">
        </div>
        <div class="mt-20">
          <div>
            <a href="/contact/" class="inline-flex space-x-4 text-gray-500 hover:text-gray-700">
              <span class="rounded bg-gray-100 px-2 py-1 text-xs font-semibold tracking-wide uppercase">Contact</span>
              <span class="inline-flex items-center text-sm font-medium">
                for custom, & white-label solutions →
              </span>
            </a>
          </div>
          <div class="mt-6 sm:max-w-xl">
            <h1 class="text-4xl font-extrabold text-ve-earth tracking-tight sm:text-5xl">Curb Climate Change</h1>
            <p class="mt-6 text-xl text-gray-600">
              We put AI (artificial intelligence) into a software suite to manage carbon footprints helping individuals and businesses to measure, reduce and offset their impact on the climate.
            </p>
          </div>
          <div class="mt-6 mx-auto sm:flex">
            <a href="https://buy.stripe.com/8wM7sB3kCcxN0h2eUU" target="_blank"
            class="w-full flex justify-center p-4 text-xl rounded-lg text-gray-200 bg-ve-water hover:bg-water-800"> 
              <span class="line-through">$1,999</span>
              <span class="px-2 text-white font-bold">$199</span>
              <span class="pr-2">for a year</span>

              <!-- heroicon: solid/check-circle -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
          <div class="w-full my-1 text-sm text-center text-gray-400">
            <p>Beta pricing › carbon offset worth $1,999 for $199.</p>
          </div>
          <div class="mt-6 border-t py-2">
            <div class="inline-flex items-center px-1">
              <div class="flex-shrink-0 flex">
                <img class="h-10 w-10" src="/assets/img/stripe-climate-badge.svg" alt="Stripe Climate">
              </div>
              <div class="min-w-0 flex-1 pl-2 text-sm text-gray-400 sm:py-3">
                <p>
                  <a href="https://stripe.com/climate/" target="_blank">We contribute 1% of your purchase to Stripe’s climate projects.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <div class="relative pl-4 -mr-20 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
          <img class="w-full lg:h-full lg:w-auto lg:max-w-none" src="/assets/img/hero-image-desktop-tablet-phone.jpg" alt="Valinor Earth's Carbon Analytics Dashboard">
        </div>
      </div>
    </div>
  </div>
</div>