<div class="bg-white pb-8 sm:pb-12 lg:pb-12">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
      <div>
        <div>
          <img class="h-20 w-auto" src="/assets/img/valinor-earth-logo-text.png" alt="Valinor Earth">
        </div>
        <div class="mt-20">
          <div class="mt-6 sm:max-w-xl">
            <h3 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-4xl mb-5 text-black dark:text-slate-500 relative">
            We
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-earth-600 relative inline-block">
              <span class="relative text-white">automate</span>
            </span>
            climate action for you.
            So, you
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-fire-600 relative inline-block">
              <span class="relative text-white">stay focus</span>
            </span>
            on your business.
          </h3>
            <p class="mt-6 text-xl text-gray-600">
              We put AI (artificial intelligence) into a software suite to monitor, report, and verify high-quality carbon removal projects, making it easy for businesses to invest early and create meaningful impact.
            </p>
          </div>
          <div class="mt-6 mx-auto sm:flex">
            <a href="/contact/"
            class="w-full flex justify-center p-4 text-xl rounded-lg text-gray-200 bg-water-500 hover:bg-water-700">
              <span class="px-2 text-white font-bold">Contact</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <div class="relative pl-4 -mr-20 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
          <img class="w-full lg:h-full lg:w-auto lg:max-w-none" src="/assets/img/hero-image-desktop-tablet-phone.jpg" alt="Valinor Earth's Carbon Analytics Dashboard">
        </div>
      </div>
    </div>
  </div>
</div>