<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
      <div class="col-span-1 justify-center flex md:col-span-2 lg:col-span-1">
        <a href="https://500.co"><img class="h-12" src="/assets/img/logo-500.png" alt="500"></a>
      </div>
      <div class="col-span-1 justify-center flex md:col-span-2 lg:col-span-1">
        <a href="https://www.beondeck.com"><img class="h-12" src="/assets/img/logo-ondeck.svg" alt="On Deck"></a>
      </div>
      <div class="col-span-1 justify-center flex md:col-span-2 lg:col-span-1">
        <a href="https://carbonthirteen.com"><img class="h-12" src="/assets/img/logo-carbon13.png" alt="On Deck"></a>
      </div>
      <div class="col-span-1 justify-center flex md:col-span-2 lg:col-span-1">
        <a href="https://www.worldtree.eco"><img class="h-12" src="/assets/img/logo-worldtree.png" alt="On Deck"></a>
      </div>
    </div>
  </div>
</div>