<div class="relative pt-16 overflow-hidden sm:pt-24 lg:pt-32">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold uppercase tracking-wider text-gray-600">Authenticity & Fraud Prevention</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">Satellite and Aerial Data</p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">Our proprietary Machine Learning Algorithms enhances satellite and aerial imagery for better tracking and selecting better quality plants. We make it easy to monitor, report, and prevent fraud with all global projects we are involved.</p>
    </div>
  </div>
  <div class="w-full mt-10">
    <img class="object-fill" src="/assets/img/product-0.jpg" alt="Product Demo">
  </div>
</div>
