<div class="relative bg-gray-800">
  <div class="h-56 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="w-full h-full object-cover" src="/assets/img/project-bamboo-1.jpg" alt="Project - India-Myanmar Bamboo">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h2 class="text-base font-semibold uppercase tracking-wider text-gray-300">India-Myanmar Forest Redevelopment</h2>
      <p class="mt-2 text-white text-3xl font-extrabold tracking-tight sm:text-4xl">More than 500 KM² (310 Mile²)</p>
      <p class="mt-3 text-lg text-gray-300">We have the opportunity to re-develop an under-developed forest on the hilly border between India and Myanmar. With the locals’ involvement, we will lead the creation of a circular, sustainable economy while sequestering carbon.</p>
      <p class="mt-3 text-lg text-gray-300">We have the potential to sequester over (500 x 267) tCO₂e (tonnes of Carbon Dioxide Equivalent) every year.</p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">
          <a href="/contact/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-50">
            Contact us for your Project
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
