<li>
  <div class="space-y-4">
    <div class="aspect-w-3 aspect-h-2">
      <img class="object-cover shadow-lg rounded-lg" src="/assets/img/team-brajeshwar.jpg" alt="Brajeshwar Oinam">
    </div>
    <div class="text-lg leading-6 font-medium space-y-1">
      <h2>Brajeshwar Oinam</h2>
      <p class="text-gray-400">Co-Founder, CEO</p>
      <p class="text-base text-gray-500">
        <a class="underline underline-offset-2 text-gray-500 hover:text-gray-800" href="https://brajeshwar.com">Website</a>
        <a class="underline underline-offset-2 text-gray-500 hover:text-gray-800" href="https://www.linkedin.com/in/brajeshwar/">LinkedIn</a>
        <a class="underline underline-offset-2 text-gray-500 hover:text-gray-800" href="https://twitter.com/brajeshwar/">Twitter</a>
      </p>
    </div>
    <div class="text-gray-500">
      <p class="mt-2">
        Brajeshwar is on an adventure learning to build beautiful and meaningful products to improve the world for his daughters.
      </p>
      <p class="mt-2">
        He started his entrepreneurial journey when his first company was acquired by a Silicon Valley company, <a class="underline underline-offset-2" href="https://www.crunchbase.com/organization/mixercast">Mixercast</a>, in 2006. His next venture, <strong>oCricket</strong>, was acquired by Infinitely Beta (branded later as <a class="underline underline-offset-2" href="https://www.helpshift.com">Helpshift</a>), in 2009.
      </p>
      <p class="mt-2">
        In 2010, he started <strong>Levoma</strong>, which exited to a Singapore Investment firm, <a class="underline underline-offset-2" href="https://www.sgpbusiness.com/company/Kamelot-Kapital-Pte-Ltd">Kamelot Kapital Pte Ltd</a>, in 2013.
      </p>
    </div>
  </div>
</li>
