<li>
  <div class="space-y-4">
    <div class="aspect-w-3 aspect-h-2">
      <img class="object-cover shadow-lg rounded-lg" src="/assets/img/team-amir.jpg" alt="Amir Abou">
    </div>
    <div class="text-lg leading-6 font-medium space-y-1">
      <h2>Amir Abou</h2>
      <p class="text-gray-400">Co-Founder, CTO</p>
    </div>
    <div class="text-gray-500">
      <p class="mt-2">
        Amir specializes in Geospatial data. His scientific journey started when one of the most prestigious conferences in Geomatics accepted his paper on enhancing image processing computations. In his Masters, he worked with remote sensing data, 3D visualization of GIS data on top of satellite imagery.
      </p>
      <p class="mt-2">
        While working with precision and data-driven agriculture at <a class="underline underline-offset-2" href="https://resson.com">Resson</a>, he created novel technologies for Fortune 500 clients.
      </p>
      <p class="mt-2">
        He would love to shape the technologies that impacts and better the lives of people.
      </p>
    </div>
  </div>
</li>
