<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Team</h2>
        <p class="text-xl text-gray-500">
          We are a team of technology product veterans specializing in geospatial data, precision agriculture, and data visualization.
        </p>
        <p class="text-xl text-gray-500">
          We have built award-winning digital tools for physicians and teachers, helping companies and individuals benefit and lead happy lives.
        </p>
        <p class="text-xl text-gray-500">
          We are now on a mission to help individuals and companies do their part to fight climate change.
        </p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          {% include team-brajeshwar.html %}
          {% include team-amir.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
