<li>
  <div class="space-y-4">
    <div class="aspect-w-3 aspect-h-2">
      <img class="object-cover shadow-lg rounded-lg" src="/assets/img/team-saneef.jpg" alt="Saneef Ansari">
    </div>
    <div class="text-lg leading-6 font-medium space-y-1">
      <h2>Saneef Ansari</h2>
      <p class="text-gray-400">Product Design & Development</p>
      <p class="text-base text-gray-500">
        <a class="underline underline-offset-2 text-indigo-400 hover:text-indigo-600" href="https://saneef.com/">Website</a>
        <a class="underline underline-offset-2 text-indigo-400 hover:text-indigo-600" href="https://www.linkedin.com/in/saneef/">LinkedIn</a>
        <a class="underline underline-offset-2 text-indigo-400 hover:text-indigo-600" href="https://twitter.com/saneef/">Twitter</a>
      </p>
    </div>
    <div class="text-gray-500">
      <p class="mt-2">
        Saneef Ansari is a product designer who writes code to bring his designs to life. He had successfully built products for
        <a class="underline underline-offset-2 text-indigo-400" href="https://www.adb.org">Asian Development Bank</a>,
        <a class="underline underline-offset-2 text-indigo-400" href="https://www.gojek.com/">Gojek</a>,
        <a class="underline underline-offset-2 text-indigo-400" href="https://bizom.in/">Mobisy</a>,
        <a class="underline underline-offset-2 text-indigo-400" href="https://prathambooks.org/">Pratham Books</a>,
        <a class="underline underline-offset-2 text-indigo-400" href="https://razorfish.com/">Razorfish</a>,
        <a class="underline underline-offset-2 text-indigo-400" href="https://www.zoho.com/">Zoho</a>,
        and others.
      </p>
      <p class="mt-2">
        He is a seasoned product designer and engineer who loves to go down to the first principle to help the team solve problems for users.
      </p>
      <p class="mt-2">
        His passion for design started very early on when he interned at <a class="underline underline-offset-2 text-indigo-400" href="https://ia.net/">iA.net</a>, a Swiss design studio.
      </p>
    </div>
  </div>
</li>
