<div class="bg-white py-16 lg:py-24">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative py-24 px-8 bg-void-600 rounded-xl shadow-2xl overflow-hidden lg:px-16 lg:grid lg:grid-cols-2 lg:gap-x-8">
      <div class="absolute inset-0 opacity-50 filter saturate-0 mix-blend-multiply">
        <img src="/assets/img/project-forest-swamp.jpg" alt="Shell Testimonial" class="w-full h-full object-cover">
      </div>
      <div class="relative lg:col-span-1">
        <img class="h-12 w-auto" src="/assets/img/logo-shell.png" alt="Shell">
        <blockquote class="mt-6 text-white">
          <p class="text-xl font-medium sm:text-2xl">
            This is going to be useful, not just in climate, but to anyone looking for geospatial data and expertise.
          </p>
          <footer class="mt-6">
            <p class="flex flex-col font-medium">
              <span>Amjad Ansari</span>
              <span>Software Engineer at <a href="https://www.shell.com">Shell</a></span>
            </p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
