---
title: SAgri株式会社
contentId: home
---

<p class="text-lg md:text-2xl py-8">それ、Sagriで分かります。</p>
<p class="text-lg md:text-2xl mt-2">個人から企業まで、あらゆる農地に最適な情報を提供する農業アプリケーションSagri。
新しいスキルは必要ありません。ただ日々の作業を打ち込むだけであなたの農業を
データ化し、より最適な結果をもたらします。</p>
