<div class="max-w-lg mx-auto">
  <div class="aspect-ratio aspect-ratio-16/9">
    <iframe
      width="640"
      height="360"
      src="https://www.youtube-nocookie.com/embed/9LGDe_AO5go?modestbranding=1&rel=0"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="markdown mt-4 text-sm">
    <p>
      This is where it all started.
      Working with the Government of Japan, our Japanese partner team built <a href="http://www.actaba.jp">Actaba</a>, a tool to create automatic polygons to track farmlands and calculate their utilization. Agtaba calculates the NDVI (Normalized Difference Vegetation Index), helping the government and farmers to find the optimal time to harvest a particular crop.
    </p>

    <p>
      Actaba uses satellite imagery backed by <a href="https://en.wikipedia.org/wiki/JAXA">JAXA</a> (Japan Aerospace Exploration Agency) and <a href="https://www.restek.com">RESTEC</a> (Remote Sensing Technology Center of Japan).
    </p>

    <p>
      We are working to implement this technology and solutions to farmlands in India.
    </p>
  </div>
</div>
