<div class="flex justify-center gap-4 opacity-30">
  <a>
    <img
    class="h-12 object-contain"
    src="/img/app_store.png"
    sizes="(min-width: 640px) 33vw, 50vw"
    alt="Download on App Store" />
  </a>

  <a>
    <img
    class="h-12 object-contain"
    src="/img/google_play.png"
    sizes="(min-width: 640px) 33vw, 50vw"
    alt="Get it on Google Play" />
  </a>
</div>
