<div class="flex justify-center -m-2">
  <div class="p-2">
    <a>
      <img
      class="h-12 object-contain opacity-30"
      src="/img/app_store.png"
      sizes="(min-width: 640px) 33vw, 50vw"
      alt="Download on App Store" />
    </a>
  </div>

  <div class="p-2">
    <a href="https://play.google.com/store/apps/details?id=com.valinor.earth">
      <img
      class="h-12 object-contain"
      src="/img/google_play.png"
      sizes="(min-width: 640px) 33vw, 50vw"
      alt="Get it on Google Play" />
    </a>
  </div>
</div>
