<ul class="logo-list">
  {% for p in awards %}
    <li class="aspect-ratio aspect-ratio-1/2">
      <div class="aspect-ratio__inner">
        <a class="tpp-logo-link w-full h-full" href="{{p.url}}" target="_blank">
          <img class="tpp-logo-link__img" width="120" src="{{p.logoPath | url}}" alt="Logo of {{p.title}}">
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
