<div class="bg-water-600 rounded ">
  <div class="py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block text-white text-opacity-75">Ready for next-gen farming?</span>
      <span class="block">Start your free trial today.</span>
    </h2>
    <div class="mt-8 lex lg:mt-0 lg:flex-shrink-0">
      <a
        class="button button--outlined"
        target="__ve"
        href="https://share.hsforms.com/1bstIbrm5SkKI4z26sOYf_g4wmqc"
        >Start Free Trial</a>
    </div>
  </div>
</div>

