<form
  action="{{site.mailchimp.submissionUrl}}"
  method="post"
  target="_blank"
  class="text-gray-700"
>
  <div class="mb-2 text-sm">
    <p>
      Be informed of our milestones, and get occassional updates.
    </p>
  </div>

  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input
      type="text"
      name="b_06016756bccc86ac6fbfe64b9_3b2451a8f6"
      tabindex="-1"
      value=""
    />
  </div>

  <div class="-m-2 flex flex-wrap md:flex-no-wrap">
    <div class="m-2 w-full">
      <label for="mce-EMAIL" class="sr-only">Email Address </label>
      <input
        id="mce-EMAIL"
        type="email"
        value=""
        name="EMAIL"
        required="required"
        placeholder="Email address"
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring"
      />
    </div>
    <div class="m-2 self-end">
      <input
        type="submit"
        value="Subscribe"
        name="subscribe"
        class="button button--outlined"
      />
    </div>
  </div>

  <div class="mt-2 text-xs text-gray-500">
    <p>We respect your privacy, no spam ever.</p>
  </div>
</form>
