<form
  action="{{site.mailchimp.submissionUrl}}"
  method="post"
  target="_blank"
  class="p-4 md:px-6 bg-earth-700 rounded text-earth-200"
>
  <h2 class="text-lg text-earth-200 font-bold">Stay connected</h2>

  <div class="mt-2 text-sm">
    <p>
      To be the first to know when we cross new milestones, and get occassional
      updates in precision farming, sign up below.
    </p>
  </div>

  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input
      type="text"
      name="b_06016756bccc86ac6fbfe64b9_3b2451a8f6"
      tabindex="-1"
      value=""
    />
  </div>

  <div class="-m-2 flex flex-wrap md:flex-no-wrap">
    <div class="m-2 w-full">
      <label for="mce-EMAIL" class="block text-sm mb-1 mt-4"
        >Email Address
      </label>
      <input
        id="mce-EMAIL"
        type="email"
        value=""
        name="EMAIL"
        required="required"
        class="appearance-none border border-earth-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>
    <div class="m-2 self-end">
      <input type="submit" value="Subscribe" name="subscribe" class="button border-earth-200" />
    </div>
  </div>

  <div class="mt-4 text-xs">
    <p>We respect your privacy, no spam ever.</p>
  </div>
</form>
