{% import "macros/nav.njk" as navMacros %} {% import "macros/lists.njk" as lists
%} {% set linkClasses = "mr-4 font-bold text-gray-100 hover:text-gray-100
focus:text-gray-100 active:text-gray-100 hover:no-underline focus:no-underline
active:no-underline" %}
<footer class="page-footer">
  <div class="page-footer__wrapper frame">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4 grid-flow-row-dense">
      {{navMacros.nav(site.secondaryNav, collections, locale, listClasses="flex
      flex-wrap lg:col-start-1 lg:col-end-7 -mt-2", listItemClasses="mt-2",
      linkClasses=linkClasses)}} {% set numOfLocales = collections.all |
      numberOfLocalesForContentId('home') %} {% if numOfLocales > 1 %}
      <ul class="flex lg:col-start-1 lg:col-end-7">
        {% for locale in site.locales %} {% for item in collections.all %} {% if
        item.data.locale === locale.code and item.data.contentId and
        item.data.contentId === 'home' %}
        <li>
          <a
            class="mr-4 text-gray-100 hover:text-gray-100 no-underline hover:underline"
            href="{{ item.url }}"
            hreflang="{{ locale.code }}"
            lang="{{ locale.code}} "
            >{{locale.label}}</a
          >
        </li>
        {% endif %} {% endfor%} {% endfor%}
      </ul>
      {% endif %} {{lists.socialNetworksList(networks = site.socialNetworks |
      objectToArray, ulClass = "flex flex-wrap -m-1 lg:col-span-12", liClass =
      "m-1", aClass = "text-gray-500 hover:text-gray-200 active:text-gray-200
      hover:no-underline focus:no-underline")}}
      <div class="lg:col-span-12 text-gray-600">
        <p>&copy; {{buildTime | date('YYYY')}} {{site.title[locale]}}, Inc.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-55DHHJ1C42"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-55DHHJ1C42');
</script>
<!-- HubSpot -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8240916.js"></script>