<div class="max-w-2xl">
  <h2 class="font-bold md:xl lg:text-2xl lg:leading-tight mb-4">Farms in remote rural areas need regular monitoring and upkeep.</h2>
  <div class="[ text-base lg:text-lg lg:leading-snug
md:text-base lg:text-lg lg:leading-snug ][ space-y-4 ][ text-gray-500 ]">
    <p>Our <mark>Farm Dashboard</mark> makes it easy for you to monitor crop growth and water stress across your farms. You can relax and focus on your business in urban economic markets.</p>
  </div>
</div>

<div class="flex flex-wrap mt-8 -mx-4">
  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/chip.svg" %}
    </div>
    <h2 class="font-bold mb-1">Intelligent Data</h2>
    <p class="text-sm text-gray-500">We pick the most useful data from spatial and high-resolution satellite data sources. You get the most relevant information for your farm.</p>
  </div>

  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/cloud-data.svg" %}
    </div>
    <h2 class="font-bold mb-1">Real Time</h2>
    <p class="text-sm text-gray-500">We know what is happening on your farm. You get the right type of alerts and actionable notifications at the right time.</p>
  </div>

  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/chip-earth.svg" %}
    </div>
    <h2 class="font-bold mb-1">Access from Anywhere</h2>
    <p class="text-sm text-gray-500">We have beautifully designed and presented the farm data. You can access them from a mobile phone, a handheld tablet, or a desktop computer.</p>
  </div>
</div>
