<div class="max-w-2xl">
  <h2 class="font-bold md:xl lg:text-2xl lg:leading-tight mb-4">
    We need to get to Carbon Net-Zero by 2050.
  </h2>
  <div class="[ text-base lg:text-lg lg:leading-snug
md:text-base lg:text-lg lg:leading-snug ][ space-y-4 ][ text-gray-500 ]">
    <p>
      Our beautifully designed <mark>Dashboard</mark> makes it easy to track the activities and progress of a companies’ initiatives and effectiveness to help curb climate change. We have support for mobile phones, handheld tablets, and desktop computers.
    </p>
  </div>
</div>

<div class="flex flex-wrap mt-8 -mx-4">
  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/chip.svg" %}
    </div>
    <h2 class="font-bold mb-1">Intelligent Data</h2>
    <p class="text-sm text-gray-500">
      We pick the most valuable data from spatial and high-resolution satellite data sources. You get the most relevant information.
    </p>
  </div>

  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/cloud-data.svg" %}
    </div>
    <h2 class="font-bold mb-1">Real Time</h2>
    <p class="text-sm text-gray-500">
      We provide real-time and near-real-time data on the carbon market and regular updates on the progress of sustainable global activities and projects.
    </p>
  </div>

  <div class="p-4 md:w-1/2 lg:w-1/3">
    <div class="[ svg-icon svg-icon--accent ][ mb-2 ]">
      {% include "../../../img/icons/chip-earth.svg" %}
    </div>
    <h2 class="font-bold mb-1">Secure & Verifiable</h2>
    <p class="text-sm text-gray-500">
      We leverage secure cloud storage for your data. You get the correct type of alerts and actionable notifications at the right time.
    </p>
  </div>
</div>
