<div class="[ stats ]">
  <div class="stats__container">
    <div class="stat m-4 text-shadow-light">
      <h3 class="stat__title tracking-wider">Monitoring</h3>
      <p><span class="stat__value"><span
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-start-value="3000"
          data-animated-number-end-value="6000"
          data-animated-number-duration-value="500"
        >6000</span>+</span> <span class="stat__unit">Hectares of Farm</span></p>
    </div>

    <div class="stat m-4">
      <h3 class="stat__title">Customers</h3>
      <p><span class="stat__value"><span
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-start-value="1"
          data-animated-number-end-value="21"
          data-animated-number-duration-value="500"
        >21</span></span> <span class="stat__unit">Commercial Farmers</span></p>
    </div>
  </div>
</div>
