<div class="[ stats ]">
  <div class="stats__container">
    <div class="stat m-4 text-shadow-light">
      <h3 class="stat__title tracking-wider">Monitoring</h3>
      <p><span class="stat__value">130,250+ <span class="stat__unit">Acres</span></p>
    </div>

    <div class="stat m-4">
      <h3 class="stat__title">Customers</h3>
      <p><span class="stat__value">27 <span class="stat__unit">Farmers & Producers</span></p>
    </div>
  </div>
</div>
