<div class="[ stats ]">
  <div class="stats__container">
    <div class="stat m-4 text-shadow-light">
      <h3 class="stat__title tracking-wider">AUM</h3>
      <p><span
          class="stat__value"
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-start-value="4000"
          data-animated-number-end-value="5100"
          data-animated-number-duration-value="500"
        >9999</span> <span class="stat__unit">Hectares</span></p>
    </div>

    <div class="stat m-4">
      <h3 class="stat__title">Customers</h3>
      <p><span
          class="stat__value"
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-start-value="1"
          data-animated-number-end-value="15"
          data-animated-number-duration-value="500"
        >15</span> <span class="stat__unit">Commercial Farmers</span></p>
    </div>
  </div>
</div>
