{% macro teamList(people, locale = "en") %}
<ul class="md:flex flex-wrap md:-mx-4 -mt-16">
  {% for person in people %} {% if person.data.locale === locale %}
  <li class="md:w-1/2 md:px-4 pb-2 mt-16" data-order="{{person.data.order}}">
    <div>
      <div class="flex flex-col items-center">
        {% if person.data.photoPath %}
        <div class="w-32 overflow-hidden rounded-full mb-3">
          <div class="aspect-ratio aspect-ratio-1/1">
            <img
              class="[ block object-cover ]"
              src="{{ person.data.photoPath | url }}"
              alt="Photo of {{person.data.name}}"
              sizes="(max-width: 48em) 50vw, 25vw"
            />
          </div>
        </div>
        {% endif %}

        <h3 class="font-bold">{{person.data.name}}</h3>
        <p class="text-gray-700 text-sm">{{person.data.title}}</p>
        {% if person.data.socialLinks.length > 0 %}
        <ul class="flex -ml-1">
          {% for social in person.data.socialLinks %} {% if not loop.first
          %}<span class="text-gray-700">·</span
          >{% endif %}
          <li class="mx-1">
            <a class="text-sm" href="{{social.url}}">{{social.title}}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="text-sm mt-4 markdown">{{person.templateContent | safe}}</div>
    </div>
  </li>
  {% endif %} {% endfor %}
</ul>

{% endmacro %} {% macro socialNetworksList(networks, ulClass, liClass, aClass,
locale = "en") %}
<ul class="{{ulClass}}">
  {% for item in networks %}
  <li class="{{liClass}}">
    <a class="{{aClass}}" href="{{item[1]}}" rel="noopener">{{item[0]}}</a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro socialNetworksListCommaSeparated(networks, aClass,
conjunction = "and", locale = "en") %}
{% for item in networks %}{% if loop.last
and loop.length > 1 %} {{conjunction}} {% endif %}
<a class="{{aClass}}" href="{{item[1]}}" rel="noopener">{{item[0]}}</a>{% if
(not loop.last) and (loop.length > 2) %},{% endif %}{% endfor %}
{% endmacro %}

{% macro blogPosts(collection, showDate = true, ulClasses, liClasses, hClasses, aClasses, dtClasses, locale = "en") %}
<ul class="{{ulClasses}}">
  {% for post in collection %}
    {% if post.data.locale === locale %}
    <li class="{{liClasses}}">
      <h2 class="{{hClasses}}"><a class="{{aClasses}}" href="{{ post.url }}">{{ post.data.title }}</a></h2>
      {% if showDate %}
        <p class="{{dtClasses}}">{{ post.date | date('ll', locale) }}</p>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}
