---
title: Sagri Finance, India
contentId: products-sagri-finance
coverImage: /img/product-cover-sagri-finance.jpg
order: 10
summary:
  <p>Our micro-finance credit system for Indian farmers. Sagri helps the farmers who don’t have access to credit through public and private banks, to get loans at a reasonable interest.</p>
---

<article class="section">
	<h2 class="section__title">Farmer Loans</h2>
  <div class="markdown max-w-xl">
  	<p>
  		A micro-finance credit system for Indian farmers, to help them get loans when needed at a reasonable interest. Sagri is focused on giving loans to farmers, who may not have access to credits via the public and private banks.
  	</p>

    <p>
    	We are building a Farmer Credit Score, by levering our Satellite Imagery and Soil Testing Technologies. We assess the farmland productivity, history of produce, soil quality, etc. to build up a credit score. We give them loans based on the credit score.
    </p>
  </div>
</article>

<article class="section mt-16">
	<h2 class="section__title">Partners</h2>
  <div class="markdown max-w-xl">
     <p>
    	Sagri is looking to partner with Startups, AgTech and other companies, focusing on helping farmers.
    </p>

    <p>
    	As part of our Farmer Credit and Micro-Finance Project in India, we help farmers by giving them loans at a farmer-friendly interest rate.
    </p>

    <p>
    	Interested? Please fill up the partnership application (<a href="https://forms.gle/YXQKu3eBqHym21Fr6" target="_sagri">direct link to form</a>) below and we will get in touch with you.
    </p>

    <iframe
    	src="https://docs.google.com/forms/d/e/1FAIpQLSchrJHH0WF2o8Xkn8wJEO54sfpi4CjPCWad7n0bk827kri-KA/viewform?embedded=true"
    	width="640" height="1314"
    	frameborder="0"
    	marginheight="0"
    	marginwidth="0">Loading…
    </iframe>
  </div>
</article>
</article>