---
title: Tellus, Japan
contentId: products-tellus
coverImage: /img/product-cover-tellus.jpg
summary:
  <p>Our IoT solution to corroborate satellite data with factual ground data. The solution provides farmers with much more accurate data about their farmland.</p>
---

<article class="section">
  <div class="markdown max-w-xl">
    <p>Sagri needed to have better data and precise data about farmland’s result from the satellite. We partnered with Asuzac and installed a bunch of their <a href="http://www.asuzac-pd.jp/cropnavi/">Crop Navi</a> IoT devices on the farms to collect periodic data.</p>

    <p>We corroborated our satellite data with factual ground data, to help farmers with much more accurate data with regards to their farmland.</p>
  </div>
</article>
