---
title: Tellus
contentId: products-tellus
coverImage: /img/product-cover-tellus.jpg
summary:
  <p>Our IoT solution to corroborate satellite data with factual ground data. The solution provides farmers with much more accurate data about their farmland.</p>
---

<article class="section">
  <div class="markdown max-w-xl">
    <p>Sagri needed to have better data and precise data about farmland’s result from the satellite, so, we went and installed a bunch of IoT devices on the farms.</p>

    <p>We corroborated our satellite data with factual ground data, to help farmers with much more accurate data with regards to their farmland.</p>
  </div>
</article>
