html {
  @apply text-xl leading-normal font-body bg-gray-800;
}

html:lang("ja") {
  @apply leading-loose;
}

a {
  @apply text-blue-700 underline;
}

a:hover,
a:focus,
a:active {
  @apply text-blue-900;
}

[href="#main"] {
  @apply absolute top-0 z-50;
  right: 100%;
}

[href="#main"]:focus {
  @apply right-auto bg-white p-2;
}

[tabindex="-1"] {
  outline: none;
}

.frame {
  @apply mx-auto px-4 max-w-4xl;
}

.page {
  @apply relative z-10 bg-white min-h-screen;
}

.page-footer {
  @apply sticky w-full bottom-0 left-0 text-sm bg-gray-800 text-gray-200;
}

.page-footer__wrapper {
  @apply py-8;
}

.markdown * + * {
  @apply mt-4;
}

/* print.css */
@media print {
  html {
    @apply bg-transparent;
    font-size: 100%;
  }

  .page {
    @apply min-h-0;
  }

  body > *:not(.page),
  .page > *:not(main) {
    @apply hidden;
  }
}
