html {
  @apply text-gray-900 text-xl leading-normal font-body bg-white;
}

html:lang("ja") {
  @apply leading-loose;
}

a {
  @apply text-water-500 underline;
}

a:hover,
a:focus,
a:active {
  @apply text-water-700;
}

img {
  max-width: 100%;
}

/* purgecss ignore */
[href="#main"] {
  @apply absolute top-0 z-50;
  right: 100%;
}

/* purgecss ignore */
[href="#main"]:focus {
  @apply right-auto bg-white p-2;
}

[tabindex="-1"] {
  outline: none;
}
