.section {
  @apply pt-4;
}

.section__title {
  @apply -mt-2 text-xl text-gray-600;
  @apply mb-10;
  @apply grid gap-2 items-center;

  grid-template-columns: 1fr auto 1fr;
}

.section__title::before,
.section__title::after {
  @apply bg-gray-400;
  @apply border-t-2;

  content: "";
  margin-top: 0.16665em;
}

.section__title > * {
  grid-column: 2;
}

.section__title::before {
  grid-column: 1;
}

.section__title::after {
  grid-column: -2;
}

.section--border-top,
.section--border-bottom {
  @apply border-gray-300;
}

.section--border-top {
  @apply border-t;
  @apply pt-8;

  @screen lg {
    @apply pt-12;
  }
}
