---
title: Sagri
contentId: products-sagri
coverImage: /img/product-cover-sagri.jpg
order: 10
summary:
  <p>Our micro-finance credit system for Indian farmers. Sagri helps the farmers who don’t have access to credit through public and private banks, to get loans at a reasonable interest.</p>
---

<article class="section">
  <div class="markdown max-w-xl">
    <p>A <a href="/finance/">micro-finance credit system</a> for Indian farmers, to help them get loans when needed at a reasonable interest. Sagri is focused on giving loans to farmers, who may not have access to credits via the public and private banks.</p>

    <p>We are building a Farmer Credit Score, by levering our Satellite Imagery and Soil Testing Technologies. We assess the farmland productivity, history of produce, soil quality, etc. to build up a credit score. We give them loans based on the credit score.</p>
  </div>
</article>
