---
title: 404
layout: default
locale: en
eleventyExcludeFromCollections: true
permalink: 404.html
---

<div class="max-w-xl">
  <h1 class="text-3xl font-bold">404</h1>
  <p class="mt-4">Uh oh! Something went wrong. Don't worry. It's likely our fault and not yours. You can head <a href="{{ '/' | url}}">back to the homepage</a> and browse around if you like.</p>
</div>
